/* You can add global styles to this file, and also import other style files */
body {
    background-color: white;
}
html, body { height: 100%; }
body { 
    margin-top: 2rem; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin-left: 5rem;
}
